<app-menu-header-bottom></app-menu-header-bottom>
<app-page>
  <app-list-element [listTitle]="'Regulamin'"
                    class="col-md-12"></app-list-element>
  <ol>
    <li>Instruktorzy oraz recepcja Klubu sprawują nadz&oacute;r nad
      przestrzeganiem Regulaminu. Wszelkie skargi, wnioski, propozycje dotyczące
      działalności Klubu można zgłaszać mailowo na adres recepcji. Mail:&nbsp;<a
        href="mailto:klub@sfc24.eu">klub@sfc24.eu</a></li>
    <li>Zmiany regulaminu podaje się niezwłocznie do wiadomości poprzez
      wywieszenie ich treści w recepcji Klubu lub na stronie internetowej Klubu
    </li>
    <li>Klub zastrzega sobie prawo do wykorzystywania w celach marketingowych
      zdjęć i film&oacute;w wykonanych na terenie Klubu, w tym niezamierzonego
      utrwalania wizerunku członk&oacute;w Klubu, kt&oacute;rzy po ich uprzednim
      poinformowaniu nie zgłosili sprzeciwu. 4. W sprawach nieuregulowanych
      niniejszym Regulaminem mają zastosowanie przepisy Kodeksu Cywilnego oraz
      innych Ustaw.
    </li>
  </ol>
  <p>Regulamin Klubu SFC 24 z siedzibą przy ul. Warszawskiej 3B w Rykach.
    Pozostałe warunki korzystania z klub&oacute;w SFC24.</p>
  <p>Trenujący</p>
  <p>Za trenującego uważa się każdą osobę, kt&oacute;ra korzysta z siłowni oraz
    Sali do walki.</p>
  <p>Trenujący może korzystać z siłowni po okazaniu karnetu wstępu lub po
    wykupieniu wejścia jednorazowego.</p>
  <p>Karnet wstępu</p>
  <p>Karnet wstępu dzieli się na karnety 24 H oraz karnety og&oacute;lnodostępne,
    czyli uprawniające do korzystania z siłowni klubu w godzinach 06:00 &ndash;
    22:00 (osoby nieletnie)</p>
  <p>Wejście jednorazowe</p>
  <p>Upoważnia do wstępu w nieograniczonym limicie czasu</p>
  <p>Karta dostępu do klubu 24H</p>
  <p>Karta upoważniająca do wejścia do klub&oacute;w SFC24 i wydawana jest
    osobom, kt&oacute;re spełniają poniższe warunki:</p>
  <p>- Pełnoletni powyżej 18 roku życia</p>
  <p>Karta wstępu do klubu w godzinach 08:00 &ndash; 21:00- dla os&oacute;b
    nieletnich</p>
  <p>&nbsp;</p>
  <p>Z Karty wstępu może korzystać każdy klubowicz, kt&oacute;ry ma opłaconą
    składkę według cennika.</p>
  <p>Wstęp do klubu bez karty 24h</p>
  <p>Należy skontaktować się z klubem od 11:00 do 21:00 od poniedziałku do
    piątku</p>
  <p>&nbsp;</p>
  <p>Opłacenie karnetu, karty.</p>
  <p>Opłacony karnet i karta nie podlegają zwrotowi.</p>
  <p>Wstęp do klubu dla os&oacute;b niepełnoletnich</p>
  <p>Osoby poniżej 18 roku życia są zobowiązane o przyjście na pierwszy trening
    z opiekunem prawnym/rodzicem.</p>
  <p>&nbsp;</p>
  <p>Zagubienie karty</p>
  <p>Wyrobienie nowej karty wynosi 30 zł.</p>
  <p>&nbsp;</p>
  <p>Natychmiastowy zakaz wstępu</p>
  <p>- w przypadku pożyczenia swojej karty innej osobie &ndash; dopuszcza się
    oszustwa na niekorzyść klubu.</p>
  <p>Art. 286. Oszustwo</p>
  <p>Dz.U.2016.0.1137 tj. - Ustawa z dnia 6 czerwca 1997 r. - Kodeks karny</p>
  <ul>
    <li>1. Kto, w celu osiągnięcia korzyści majątkowej, doprowadza inną osobę do
      niekorzystnego rozporządzenia własnym lub cudzym mieniem za pomocą
      wprowadzenia jej w błąd albo wyzyskania błędu lub niezdolności do
      należytego pojmowania przedsiębranego działania, podlega karze pozbawienia
      wolności od 6 miesięcy do lat 8.
    </li>
  </ul>
  <p>- w przypadku agresywnego zachowania,</p>
  <p>- w przypadku braku wniesienia opłaty za karnet w i niezgłoszenie tego
    faktu obsłudze oraz celowe wprowadzanie w błąd obsługę co do ważności
    karnetu.</p>
  <p>- w przypadku wpuszczenia do klubu po godzinie 21:00 osoby, kt&oacute;ra
    nie posiada ważnego karnetu,</p>
  <p>- w przypadku wpuszczenia innych os&oacute;b nie będących członkami klubu w
    święta, dni wolne od pracy lub niedzielę,</p>
  <p>- w przypadku niszczenia sprzętu, rzucania sprzętem, niestosowania się do
    regulaminu klubu,</p>
  <p>- w przypadku umyślnego otworzenia drzwi ewakuacyjnych bez zgody
    właściciela klubu,</p>
  <p>- w przypadku wniesienia i spożywania w klubie alkoholu,</p>
  <p>- w przypadku trenowania pod wpływem alkoholu,</p>
  <p>- w przypadku udowodnionego aktu kradzieży mienia klubu lub kradzieży
    mienia innych os&oacute;b przebywających w klubie,</p>
  <p>&nbsp;</p>
  <p>Treningi grupowe</p>
  <p>- Na treningi grupowe wstęp mają osoby, kt&oacute;re ukończyły 6 lat (osoby
    nieletnie na pierwsze zajęcia zobowiązane są przyjść z
    rodzicem/opiekunem).</p>
  <p>- Zajęcia odbywają się w dni oraz godziny ustalone przez trenera i podawane
    na grupie SFC24 na FB oraz stronie internetowej.</p>
  <p>- Trening rozumie się przez 60 minut do maksymalnie 70 minut ciągłego
    treningu włączając w to rozgrzewkę.</p>
  <p>- Podstawą do uczestniczenia w treningu jest posiadanie opłaconego
    karnetu.</p>
  <p>- Osoby uczestniczące w zajęciach oświadczają, że nie mają przeciwwskazań
    zdrowotnych do wykonywania ćwiczeń fizycznych i wykonują je na własną
    odpowiedzialność. Osoby z problemami zdrowotnymi, przed przystąpieniem do
    ćwiczeń powinny skonsultować się z lekarzem oraz powiadomić o tym
    trenera.</p>
  <p>- Każdy trenujący, kt&oacute;ry dołącza do treningu z trenerem oświadcza,
    że podejmie się ubezpieczenia na własną odpowiedzialność.</p>
  <p>Trenujący przyjmują do wiadomości, że klub i trener nie ponoszą
    odpowiedzialności za brak ubezpieczenia i ewentualne uszkodzenia wynikłe
    podczas treningu powstałe w wyniku niedostosowania swoich umiejętności do
    wykonywania ćwiczeń oraz wynikające z wykonywania ćwiczeń zabronionych przez
    trenera lub w spos&oacute;b odbiegający od wskazanych przez trenera.</p>
  <p>- Trener ma prawo odm&oacute;wić wstępu na trening osobom bez odpowiedniego
    stroju sportowego do ćwiczeń, a w szczeg&oacute;lności, gdy trenujący nie
    zastosuje się do regulaminu Klubu SFC24 pomimo uiszczonej opłaty.</p>
  <p>&nbsp;</p>
  <p>Siłownia, Korzystanie z klubu SFC24</p>
  <p>-Trener ma prawo wyprosić z Klubu SFC24 osoby łamiące postanowienia
    niniejszego regulaminu oraz wobec kt&oacute;rych istnieje uzasadnione
    podejrzenie, że są pod wpływem alkoholu lub środk&oacute;w odurzających.</p>
  <p>- Obowiązuje bezwzględny zakaz wnoszenia na siłownie szklanych butelek i
    naczyń lub własnego sprzętu (nie dotyczy rękawic do treningu oraz
    ochraniaczy czy gum).</p>
  <p>- Klub i trener nie ponoszą odpowiedzialności za rzeczy pozostawione w
    szatni oraz na terenie Klubu.</p>
  <p>- Trenujący bezwarunkowo zobowiązani są wykonywać ćwiczenia bezpiecznie i
    zgodnie z zaleceniami trenera. Zakaz wykonywania ćwiczeń innych niż wskazane
    przez trenera.</p>
  <p>- Osoby korzystające z siłowni klubu, kt&oacute;re w czasie ćwiczeń lub
    pobytu na siłowni czy treningu walki źle się poczują zobowiązane są
    natychmiast przerwać ćwiczenia i powiadomić o tym fakcie trenera.</p>
  <p>- zakaz spożywania napoj&oacute;w mocno gazowanych typu cola itp.</p>
  <p>- zakaz spożywania posiłk&oacute;w, jogurt&oacute;w na salach ćwiczeń.</p>
  <p>- zakaz rzucania butelkami z wodą. Butelki z wodą należy stawiać
    pionowo.</p>
  <p>&nbsp;</p>
  <p>Zasady bezpieczeństwa podczas treningu oraz postanowienia og&oacute;lne</p>
  <p>- Przed rozpoczęciem ćwiczeń konieczne jest wykonanie rozgrzewki w celu
    uniknięcia kontuzji.</p>
  <p>- Podczas treningu uzupełniaj płyny, by uniknąć odwodnienia organizmu.</p>
  <p>- Korzystanie ze sprzętu powinno odbywać się w spos&oacute;b bezpieczny,
    tj. z zapewnieniem dbałości o bezpieczeństwo ludzi, poszanowania sprzętu i
    sali.</p>
  <p>Za rzucanie sprzętem, nieodkładanie na stojaki lub pozostawienie na
    podłodze, a także pozostawianie butelek doliczana jest kwota do karnetu 50
    zł za dodatkową obsługę sprzątania.</p>
  <p>- Przed ćwiczeniem należy sprawdzić stan sprzętu - wszelkie usterki,
    uszkodzenia sprzętu i przyrząd&oacute;w należy zgłaszać obsłudze klubu.</p>
  <p>- Zabrania się wykonywania ćwiczeń na przyrządach uszkodzonych lub
    niesprawnych (owiniętych biało czerwona taśmą lub ż&oacute;łto czarną),</p>
  <p>- Wszystkie urządzenia siłowni oraz sprzęt do ćwiczeń mogą być
    wykorzystywane tylko zgodnie z ich przeznaczeniem.</p>
  <p>- Nie jest wskazane zajmowanie stanowisk do ćwiczeń podczas odpoczynku.</p>
  <p>- Po zakończeniu treningu należy uporządkować sprzęt, zabrać lub wyrzucić
    do ustawionych w klubie kontener&oacute;w puste butelki po napojach.</p>
  <p>- Do prowadzenia ćwiczeń/szkoleń na sali uprawnieni są trenerzy i
    instruktorzy mający stosowne uprawnienia.</p>
  <p>- Osoby ćwiczące będą ponosić odpowiedzialność finansową za wszelkie
    wyrządzone przez siebie zniszczenia/szkody w klubie SFC24.</p>
  <p>- Za szkody wyrządzone przez osoby nieletnie odpowiada opiekun/rodzic.</p>
  <p>- Klub i trener nie ponoszą odpowiedzialności za kontuzje i urazy, a w
    szczeg&oacute;lności za urazy powstałe w wyniku niewłaściwego korzystania z
    urządzeń na siłowni oraz nieprzestrzegania regulaminu i zasad
    bezpieczeństwa. Zakaz korzystania z bramy nad ringiem. Trenujący korzysta z
    bramy na własną odpowiedzialność.</p>
  <p>- Osoby naruszające niniejszy regulamin lub zakł&oacute;cające porządek
    będą traciły możliwość wejścia i trenowania w SFC24.</p>
  <p>- Składki za treningi są podane na stronie internetowej&nbsp;<a
    href="http://www.sfc24.eu/">www.sfc24.eu</a>&nbsp;oraz na stronie SFC24 na
    Facebooku, a także w siedzibie klubu.</p>
  <p>- Karnet do klubu należy okazywać każdorazowo w przypadku prośby o
    sprawdzenie ważności karnetu przez uprawnioną Agencję ochrony oraz osoby
    wskazane przez klub. Osoby posiadają upoważnienie klubu do przeprowadzenia
    sprawdzenia.</p>
  <p>- Brak karnetu = opłata za wejście jednorazowe.</p>
  <p>- W przypadku, gdy klub jest zamknięty proszę dzwonić na numer 607 300 601
    (11:00-21:00).</p>
  <p>-&nbsp; Klub otwarty jest 24 h na dobę (szczeg&oacute;łowe informacje o
    możliwości korzystania z klubu 24h podane są w punkcie 4 tego regulaminu w
    zakładce Karta dostępu do klubu 24H)</p>
  <p>Nie wolno manipulować, dotykać, przestawiać sprzętu elektronicznego.
    Przestawiać kamer itp.</p>
  <p>Depozyt</p>
  <p>- Klubowicze proszeni są o zabieranie z szatni wartościowe przedmioty,
    telefony itp. Klub za rzeczy pozostawione w szatni nie odpowiada.</p>
  <p>&nbsp;</p>
  <p>Umowa RODO</p>
  <p>INFORMACJE OG&Oacute;LNE</p>
  <p>Administratorem danych jest Leszek Grzyb, SFC24 ul Warszawska 3B, 08-500
    Ryki.</p>
  <p>Klub SFC24 realizuje pozyskiwanie informacji o użytkownikach klubu w
    następujący spos&oacute;b:</p>
  <ul>
    <li>Poprzez dobrowolne wprowadzone w formularzach informacje,</li>
    <li>Poprzez dobrowolne podanie informacji niezbędnych do wyrobienia karty
      wstępu do klubu.
    </li>
  </ul>
  <p>Szanuję prawo do prywatności i dbam o bezpieczeństwo danych, dlatego
    minimalizujemy pobieranie dany do dobrowolnego podania imienia i nazwiska
    oraz maila czy numeru telefonu.</p>
  <p>Pracownicy klubu nie są upoważnieni do pobierania innych danych niż
    wskazanych powyżej.</p>
  <p>Newsletter</p>
  <p>Jeśli wyrazisz zgodę na przetwarzanie danych w innych celach np.
    marketingowych i przesyłania informacji handlowych &ndash; będą one
    wykorzystywane jedynie do wysyłania e-maili informacyjnych ze strony SFC24.
    Dane te przechowywane są w zabezpieczonym programie stacjonarnym. Inne osoby
    trzecie nie będą miały do nich dostępu.&nbsp;</p>
  <p>Podanie danych osobowych do cel&oacute;w marketingowych i przesyłania
    informacji handlowych jest dobrowolne. W każdej chwili masz możliwość
    dostępu do swoich danych osobowych, ich poprawiania i żądania ich usunięcia.
    W tym celu skontaktuj się ze mną.</p>
  <p>Komentarze</p>
  <p>Jeśli dodasz na mojej stronie na Facebooku komentarz, podane dane nie będą
    wykorzystywane w celach marketingowych bez Twojej zgody.</p>
  <p>Udostępnianie danych</p>
  <p>Dane podlegają udostępnieniu podmiotom zewnętrznym wyłącznie w granicach
    prawnie dozwolonych.</p>
  <p>Administrator informuje niniejszym Użytkownika, że powierza przetwarzanie
    danych osobowych następującym podmiotom:</p>
  <p>Jako administrator danych mogę mieć obowiązek udzielania informacji
    zebranych przez serwis upoważnionym organom na podstawie zgodnych z prawem
    żądań w zakresie wynikającym z żądania.</p>
  <p>Prawo do usunięcia danych</p>
  <p>Pamiętaj, że w stosunku do wszystkich przekazanych mi danych osobowych masz
    prawo żądania dostępu do swoich danych osobowych, ich sprostowania,
    usunięcia lub ograniczenia przetwarzania. Możesz to zrobić, kontaktując się
    ze mną pod adresem e-mail:&nbsp;<a
      href="mailto:klub@sfc24.eu">klub@sfc24.eu</a></p>
  <p>&nbsp;</p>
  <p>Do zobaczenia&nbsp;</p>
  <p>&nbsp;</p>
  <p>Pozdrawiam,<br/><br/>Leszek Grzyb,&nbsp;<br/><br/>SFC24<br/>OPTIMA24<br/>FOOD24<br/><br/>&nbsp;665
    199 050<br/>&nbsp;607 300 601<br/>&nbsp;<a href="mailto:klub@sfc24.eu">klub@sfc24.eu</a>
  </p>
</app-page>
