<app-page>
  <div class="navigation-content">

    <!--Silownia 24-->
    <div class="col-md-12 align-c pull-down-65">
      <h1><i class="fa fa-clock-o" aria-hidden="true"></i> Siłownia 24 h</h1>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-3 pull-down-30">
        <p>SFC to klub bezobsługowy. Wstęp do klubu jest możliwy dzięki czytnikowi kart zainstalowanemu przed wejściem. Każdy klubowicz posiada aktywną kartę i gdy tylko ma chęć na trening podchodzi do czytnika i otwiera drzwi do klubu.</p>
      </div>
      <div class="col-md-3 pull-down-30 push-down-66">
        <p>Płatności oraz przedłużenie ważności karnetu jest możliwe od poniedziałku do piątku w godzinach 12:00 - 19:00 u pracownika klubu.</p>
      </div>
    </div> <!-- row -->

    <div class="border-red"></div>

    <div class="col-md-12 align-c pull-down-65">
      <h1><i class="fa fa-child" aria-hidden="true"></i> Pierwsza wizyta w klubie</h1>
    </div>

    <div class="row" style="text-align: center">
      <div class="col-md-offset-3 col-md-6 pull-down-30">
        <h3>Wybierasz się pierwszy raz do SFC? <br>Zadzwoń pod nr <h2>607 300 601</h2></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-3 pull-down-30">
        <h3>Oferta treningowa:</h3>
        <p>Siłownia 24h dostępna dla każdego członka klubu, który ukończył 18 lat, posiada nienaganną opinię, nie był karany za przestępstwo umyślne, nie był karany za dokonanie kradzieży, został polecony przez innego członka klubu oraz podpisał stosowne oświadczenie w klubie.</p>
      </div>
      <div class="col-md-3 pull-down-65 push-down-33">
        <h3></h3>
        <p>Treningi grupowe dla kobiet i mężczyzn (mma, cross, boks, krav maga)</p>
        <p>Treningi dla grup według ściśle ustalonego harmonogramu rozpoczynają się we wrześniu i trwają, aż do rozpoczęcia wakacji.</p>
      </div>
    </div> <!-- row -->
    <hr>
    <div class="row">
      <div class="col-md-offset-3 col-md-3 push-down-66">
        <h3>Pierwszy trening cross/boks/samoobrona czy wizyta na siłowni?</h3>
        <ul>
          <li>musisz mieć ukończone 15 lat (na pierwszy trening przyjdź wraz z opiekunem prawnym),</li>
          <li>zabierz rękawiczki np. rowerowe,</li>
          <li>niezbędne będą krótkie spodenki,</li>
          <li>przyda ci się koszulka przylegająca do ciała,,</li>
          <li>nie lubisz trenować na matach na boso? Zabierz skarpety antypoślizgowe,</li>
          <li>nie zapomnij zabrać dużej butelki wody, minimum 1 litr,</li>
          <li>z pewnością się zmęczysz i spocisz, zabierz również ręcznik.</li>
        </ul>
      </div>

      <div class="col-md-3 push-down-33">
        <h3>Wstęp na treningi Cross/boks/samoobrona.</h3>
        <p>Twój karnet obejmuje 2 treningi w tygodniu. Możesz wybrać godzinę i trening na który chcesz przyjść w danym tygodniu.</p>
        <p>Przez trening rozumie się 60 minut sesji treningowej + 10 minut rozgrzewki.</p>
        <p>Do wyboru masz zajęcia:</p>
        <ul>
          <li>Crossfit czyli zajęcia wytrzymałościowo siłowe,boks,samoobrona,MMA,</li>
          <li>W okresie od 01.06 do 31.08 oraz okresie 23.12 do 03.01, a także w okresie Świąt Wielkanocnych następuje przerwa w treningach według harmonogramu.
            Na ten czas wszystkie karnety zostają zawieszone i wznowione dzień po przerwie. Jeżeli masz ochotę trenować dołącz do trenera na jego treningu. .</li>
          <li>
            Jak to działa?<br>
            W danym tygodniu dostaniesz informację o planowanych treningach. Dzień i godzina. Przychodzisz na trening i trenujesz.
            Twój karnet jest zawieszony dlatego opłata za trening zostaje uiszczona w formie wrzutki do puszki na cel charytatywny lub remont klubu i jest dobrowolna.<br>

            <strong>Każdy dodatkowy trening po za harmonogramem.</strong><br>

            Opłata za trening zostaje uiszczona w formie wrzutki do puszki na cel charytatywny lub remont klubu i jest dobrowolna.
          </li>
        </ul>
      </div>
    </div><!-- row -->

    <!--<div class="border-red"></div>-->

    <!--<div class="col-md-12 align-c pull-down-65">-->
      <!--<h1><i class="fa fa-gift" aria-hidden="true"></i> Aktualne promocje</h1>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-md-offset-3 col-md-6 pull-down-30">-->
        <!--<h3>Oferta wakacyjna</h3>-->
        <!--<h4>Wakacje dla członków klubu za 80 zł. Czyli 40 zł za miesiąc!</h4>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-md-offset-3 col-md-6 pull-down-30">-->
        <!--<h3>Dla nowych klubowiczów</h3>-->
        <!--<h4>Od teraz do końca sierpnia za jedyne 80 zł!</h4>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-md-offset-3 col-md-6 pull-down-30">-->
        <!--<h3>Oferta promocyjna nr 1</h3>-->
        <!--<h4>Już od września treningi dla dzieciaków 6 -12 lat za darmo 13-17 lat - 50% zniżki!-->
          <!--<br>Warunek otrzymania zniżki: posiadanie przez rodzica jednego lub dwa aktywne karnety.-->
          <!--<br><br>-->
          <!--W planie: zajęcia ruchowe, koordynacyjne i uwielbiane przez dzieci tory przeszkód!-->
          <!--<br><br>-->
          <!--*promocja ważna do: marzec 2019 roku!</h4>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-md-offset-3 col-md-6 pull-down-30">-->
        <!--<h3>Oferta promocyjna nr 2</h3>-->
        <!--<h4>Z tej okazji mamy dla dzieciaków fajną niespodziankę!-->
          <!--<br><br>-->
          <!--W czerwcu trenujący rodzic może zabrać dzieciaka do 18 roku życia za darmo!-->
          <!--<br><br>-->
          <!--Dwoje rodziców trenuje? Możecie zabrać na siłownię wszystkie swoje nieletnie pociechy za darmo! </h4>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-md-offset-3 col-md-6 pull-down-30">-->
        <!--<h3>Oferta promocyjna nr 3</h3>-->
        <!--<h4>URODZINY w klubie!-->
          <!--<br>-->
          <!--<br>-->
          <!--od 01.06.2018 do końca wakacji możesz wynająć salę zabaw za jedyne 99 zł za całą imprezę!-->
          <!--(szczegóły u obsługi klubu)</h4>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-md-offset-3 col-md-6 pull-down-30">-->
        <!--<h3>Oferta promocyjna nr 4</h3>-->
        <!--<h4>29 zł za treningi? Seniorzy 65+-->
          <!--<br><br>-->
          <!--Treningi dla seniorów i ruszamy od września!-->
          <!--*grupa minimum 10 osób (jeżeli nie uda się zebrać karnet zostanie przepisany na siłownię).</h4>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-md-offset-3 col-md-6 pull-down-30">-->
        <!--<h3>Oferta promocyjna nr 5</h3>-->
        <!--<h4>Dla każdego lojalnego klubowicza!-->
          <!--<br><br>-->
          <!--obowiązuje od 01.09.2018 do 10.09.2018.-->
          <!--<br><br>-->
          <!--50 zł za siłownię za miesiąc przy opłaceniu 3 miesięcy.-->
          <!--<br><br>-->
          <!--Oczywiście promocja dla każdego kto posiada już aktywny karnet w SFC i w 2018 roku korzystał z naszej siłowni ;)</h4>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-md-offset-3 col-md-6 pull-down-30  push-down-66">-->
        <!--<h3>Oferta promocyjna nr 6</h3>-->
        <!--<h4>99 zł za siłownię i cross/ miesiąc obowiązuje do końca 2018 roku!-->
          <!--<br><br>-->
          <!--Zapraszamy :)</h4>-->
      <!--</div>-->
    <!--</div>-->

    <div class="classes-banner"  data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-top-90">
              <h1 class="align-c no-margin" data-stellar-ratio="0.6">ZAJĘCIA</h1>
              <div class="align-c">
                <div class="small-border"></div>
              </div> <!-- align-c -->
              <!-- /.align-c -->
            </div> <!-- inner-top-bottom-60 -->
          </div> <!-- col-md-12 -->
        </div> <!-- row -->
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="inner-bottom-90">
              <p class="align-c" data-stellar-ratio="0.6"></p>
            </div>
            <!-- /.inner-bottom-60 -->
          </div>
          <!-- /.col-md-offset-2 -->
        </div>
        <!-- /.row -->
      </div>
    </div> <!-- classes-banner -->

    <div class="background-grey" style="padding: 1em;">
      <div class="row">

        <div class="col-md-12 align-c pull-down-65">
          <h1>Zajęcia odbywają się:</h1>
        </div>

        <div class="row">
          <div class="col-md-offset-6 col-md-12 pull-down-30 push-down-66">
            <h3>Zajęcia poranne: crossfit 2x tydzień (dla kobiet i mężczyzn)</h3>
            <ul>
              <li>crossfit 2x tydzień (dla kobiet i mężczyzn)</li>
            </ul>
            <h3>Zajęcia popołudniowe: </h3>
            <ul>
              <li><strong>Dla dzieci:</strong> 2 x tydzień</li>
              <li><strong>Dla mężczyzn boks + samoobrona:</strong> 2 x tydzień, crossfit 2 x tydzień </li>
              <li><strong>Dla kobiet boks + samoobrona:</strong> 2 x tydzień crossfit 2 x tydzień </li>
              <li><strong>Dla kobiet i mężczyzn MMA:</strong> 2 x tydzień</li>
              <li><strong>Dla seniorów:</strong>  2 x tydzień</li>
            </ul>
            <h3>Soboty</h3>
            <ul>
              <li>zajęcia dodatkowe odbywają się w miarę możliwości.Informujemy o zajęciach wysyłając sms.</li>
            </ul>
            <h3>Sezon letni od 01.06.2018 do 31.08.2018</h3>
            <ul>
              <li>Informacje o treningach wysyłane są smsem do osób zainteresowanych. <br>Informacje o treningu uzyskasz dzwoniąc pod numer 607 300 601.</li>
            </ul>
          </div>
        </div> <!-- row -->

      </div>

    </div>

  </div>
  <!-- /.navigation-content -->
</app-page>

