<app-page>
  <div class="navigation-content">

    <!--Silownia 24-->
    <div class="col-md-12 align-c">
            <h1>SFC<i class="fa fa-clock-o" aria-hidden="true"></i>24</h1>
      <h2> Klub bezobsługowy </h2>
    </div>
    <div class="row align-l">
      <div class="col-md-offset-3 col-md-6 pull-down-30">
            <b>Wstęp do klubu możliwy jest tylko z aktywną kartą.</b><br/>
            Przedłużenie ważności karnetu możliwe od poniedziałku do piątku.<br>
            Prosimy o kontakt telefoniczny na numer 607 300 601 w godzinach
            9:00-21:00.
        <h2>Płatność za karnet</h2>
        <ul>
          <li>
            gotówka
          </li>
          <li>
            Przelew (ING 50 1050 1012 1000 0090 7666 3542)<br>
            <div style="margin: 1em; padding: 1em; background-color:
            antiquewhite;">
              <b>Tytuł przelewu</b><br/><br/>

              <p>Imię i nazwisko / numer karty (jeśli jest wykupiona) /
              miejscowość siłowni / ilość dni (30/90/360) / od kiedy
              uaktywnić karnet
              </p>
              <p>Potwierdzenie wykonania płatności proszę wysłać na mail
                             karnety@sfc24.eu</p>
              <p>W treści maila napisać
                Imię i nazwisko / numer karty (jeśli jest wykupiona) / miejscowość siłowni / ilość dni (30/90/360) / od kiedy uaktywnić karnet
              </p>
            </div>
          </li>
          <li>
            BLIK na nr tel. <b>607 300 601</b>
          </li>
        </ul>
      </div>
    </div> <!-- row -->

    <div class="border-green"></div>

    <div class="col-md-12 align-c pull-down-65">
      <h1><i class="fa fa-child" aria-hidden="true"></i> Pierwsza wizyta w
        klubie</h1>
    </div>

    <div class="row" style="text-align: center">
      <div class="col-md-offset-3 col-md-6 pull-down-30">
        <h3>Wybierasz się pierwszy raz do SFC? <br>Zadzwoń pod nr <h2>607 300
          601</h2></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-5 col-md-3 pull-down-30">
        <h3>Oferta treningowa:</h3>
        <ul>
          <li>
            trening boksu
          </li>
          <li>
            zajęcia crossfit
          <li>
            zajęciia grupowe od 12 roku życia dla kobiet i mężczyzn
          </li>
          <li>
            zajęcia boksu dla dzieci od 6 roku życia
          </li>
          <li>
            siłownia z dostępem 24 h
          </li>
        </ul>
      </div>
    </div> <!-- row -->
    <hr>
    <div class="row">
      <div class="col-md-offset-3 col-md-3 push-down-66">
        <h3>Pierwszy trening cross/boks/samoobrona czy wizyta na siłowni?</h3>
        <ul>
          <li>musisz mieć ukończone 14 lat (na pierwszy trening przyjdź wraz
            z opiekunem prawnym),
          </li>
          <li>zabierz rękawiczki np. rowerowe,</li>
          <li>niezbędne będą krótkie spodenki,</li>
          <li>przyda ci się koszulka przylegająca do ciała,</li>
          <li>trenujemy na boso lub zabierz skarpety antypoślizgowe,</li>
          <li>zabierz dużą butelkę wody, minimum 1 litr,</li>
          <li>na miejscu jest sklepik z wodą,</li>
          <li>zabierz również ręcznik.</li>
        </ul>
      </div>

      <div class="col-md-3 push-down-33">
        <h3>Wstęp na treningi Cross/boks/samoobrona.</h3>
        <p>Twój karnet obejmuje 2 treningi w tygodniu. Możesz wybrać godzinę i
          trening na który chcesz przyjść w danym tygodniu.</p>
        <p>Przez trening rozumie się 60 minut sesji treningowej</p>
        <p>Do wyboru masz zajęcia:</p>
      </div>
    </div><!-- row -->

    <!--<div class="border-green"></div>-->

    <!--<div class="col-md-12 align-c pull-down-65">-->
    <!--<h1><i class="fa fa-gift" aria-hidden="true"></i> Aktualne promocje</h1>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-offset-3 col-md-6 pull-down-30">-->
    <!--<h3>Oferta wakacyjna</h3>-->
    <!--<h4>Wakacje dla członków klubu za 80 zł. Czyli 40 zł za miesiąc!</h4>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-offset-3 col-md-6 pull-down-30">-->
    <!--<h3>Dla nowych klubowiczów</h3>-->
    <!--<h4>Od teraz do końca sierpnia za jedyne 80 zł!</h4>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-offset-3 col-md-6 pull-down-30">-->
    <!--<h3>Oferta promocyjna nr 1</h3>-->
    <!--<h4>Już od września treningi dla dzieciaków 6 -12 lat za darmo 13-17 lat - 50% zniżki!-->
    <!--<br>Warunek otrzymania zniżki: posiadanie przez rodzica jednego lub dwa aktywne karnety.-->
    <!--<br><br>-->
    <!--W planie: zajęcia ruchowe, koordynacyjne i uwielbiane przez dzieci tory przeszkód!-->
    <!--<br><br>-->
    <!--*promocja ważna do: marzec 2019 roku!</h4>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-offset-3 col-md-6 pull-down-30">-->
    <!--<h3>Oferta promocyjna nr 2</h3>-->
    <!--<h4>Z tej okazji mamy dla dzieciaków fajną niespodziankę!-->
    <!--<br><br>-->
    <!--W czerwcu trenujący rodzic może zabrać dzieciaka do 18 roku życia za darmo!-->
    <!--<br><br>-->
    <!--Dwoje rodziców trenuje? Możecie zabrać na siłownię wszystkie swoje nieletnie pociechy za darmo! </h4>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-offset-3 col-md-6 pull-down-30">-->
    <!--<h3>Oferta promocyjna nr 3</h3>-->
    <!--<h4>URODZINY w klubie!-->
    <!--<br>-->
    <!--<br>-->
    <!--od 01.06.2018 do końca wakacji możesz wynająć salę zabaw za jedyne 99 zł za całą imprezę!-->
    <!--(szczegóły u obsługi klubu)</h4>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-offset-3 col-md-6 pull-down-30">-->
    <!--<h3>Oferta promocyjna nr 4</h3>-->
    <!--<h4>29 zł za treningi? Seniorzy 65+-->
    <!--<br><br>-->
    <!--Treningi dla seniorów i ruszamy od września!-->
    <!--*grupa minimum 10 osób (jeżeli nie uda się zebrać karnet zostanie przepisany na siłownię).</h4>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-offset-3 col-md-6 pull-down-30">-->
    <!--<h3>Oferta promocyjna nr 5</h3>-->
    <!--<h4>Dla każdego lojalnego klubowicza!-->
    <!--<br><br>-->
    <!--obowiązuje od 01.09.2018 do 10.09.2018.-->
    <!--<br><br>-->
    <!--50 zł za siłownię za miesiąc przy opłaceniu 3 miesięcy.-->
    <!--<br><br>-->
    <!--Oczywiście promocja dla każdego kto posiada już aktywny karnet w SFC i w 2018 roku korzystał z naszej siłowni ;)</h4>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-offset-3 col-md-6 pull-down-30  push-down-66">-->
    <!--<h3>Oferta promocyjna nr 6</h3>-->
    <!--<h4>99 zł za siłownię i cross/ miesiąc obowiązuje do końca 2018 roku!-->
    <!--<br><br>-->
    <!--Zapraszamy :)</h4>-->
    <!--</div>-->
    <!--</div>-->

    <div class="classes-banner" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-top-90">
              <h1 class="align-c no-margin" data-stellar-ratio="0.6">
                ZAJĘCIA</h1>
              <div class="align-c">
                <div class="small-border"></div>
              </div> <!-- align-c -->
              <!-- /.align-c -->
            </div> <!-- inner-top-bottom-60 -->
          </div> <!-- col-md-12 -->
        </div> <!-- row -->
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="inner-bottom-90">
              <p class="align-c" data-stellar-ratio="0.6"></p>
            </div>
            <!-- /.inner-bottom-60 -->
          </div>
          <!-- /.col-md-offset-2 -->
        </div>
        <!-- /.row -->
      </div>
    </div> <!-- classes-banner -->

    <div class="background-grey" style="padding: 1em;">
      <div class="row">

        <div class="col-md-12 align-c pull-down-65">
          <h1>Zajęcia odbywają się:</h1>
          <p>Według harmonogramu podanego na stronie www.sfc24.eu lub grupie na
            Facebooku.</p>
          <img src="assets/img/shedule.jpg" style="width: 100%">
        </div>

<!--        <div class="row">-->
<!--          <div class="col-md-offset-6 col-md-12 pull-down-30 push-down-66">-->
<!--            <h3>Zajęcia poranne: crossfit 2x tydzień - prosimy o kontakt-->
<!--              telefoniczny <br> 607 300 601</h3>-->
<!--            <h3>Zajęcia popołudniowe: prosimy o kontakt-->
<!--              telefoniczny<br>607 300 601 </h3>-->
<!--            <ul>-->
<!--              <li><strong>Dla dzieci:</strong> 2 x tydzień</li>-->
<!--              <li><strong>Dla mężczyzn boks + samoobrona:</strong> 2 x tydzień,-->
<!--                crossfit 2 x tydzień-->
<!--              </li>-->
<!--              <li><strong>Dla kobiet boks + samoobrona:</strong> 2 x tydzień-->
<!--                crossfit 2 x tydzień-->
<!--              </li>-->
<!--              <li><strong>Dla seniorów:</strong> 2 x tydzień</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div> &lt;!&ndash; row &ndash;&gt;-->

      </div>

    </div>

  </div>
  <!-- /.navigation-content -->
</app-page>

