<div class="header-holder">
  <div class="container">
    <div class="row header">
      <div class="col-md-2 logo align-c">
        <div class="inner-top-bottom-20">
          <h1 class="no-margin">Fitness</h1>
        </div><!-- /.inner-top-bottom-10 -->
      </div>
      <!-- /.col-md-2 logo -->
      <div class="col-md-10 col-md-xs-12 navigation-holder">
        <div class="inner-top-bottom-10 ">
              <span class="open-navigation js-open-navigation">
                 Navigation
               </span>
          <ul class="main-navigation">

            <li class="bread"><a href="">Home</a></li>

            <li class="active" ><a href="home.html">HOME</a></li>
            <li><a href="store1.html">STORE</a></li>
            <li><a href="trainers.html">TRAINERS</a></li>
            <li><a href="classes.html">CLASSES</a></li>
            <li><a href="plans.html">PLANS</a></li>
            <li><a href="blog.html">BLOG</a></li>
            <li><a href="contacts.html">CONTACT</a></li>

          </ul>
        </div><!-- /.inner-top-bottom-10 -->
      </div>
      <!-- /.col-md-10 align-r -->        </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.header-holder absolute -->
<div class="bannercontainer hidden-xs">
  <div class="banner">

    <ul>

      <!-- START OF THE SLIDE -->
      <li data-transition="random" data-slotamount="3" data-masterspeed="900">
        <!-- THE MAIN IMAGE IN THE SLIDE -->
        <img src="img/slider/slide_1.jpg" alt="" title="">
        <div class="caption large_text_black_back sfl"
             data-x="6000"
             data-y="180"
             data-speed="900"
             data-start="1000"
             data-captionhidden="on"
             data-endeasing="easeOutExpo"
             data-easing="easeOutExpo">
          Take care of your body.
        </div>
        <div class="caption large_text_black_back sfl"
             data-x="700"
             data-y="250"
             data-speed="900"
             data-start="1100"
             data-captionhidden="on"
             data-endeasing="easeOutExpo"
             data-easing="easeOutExpo">
          It's the only place you
        </div>

        <div class="caption large_text_black_back sfl"
             data-x="700"
             data-y="320"
             data-speed="900"
             data-start="1200"
             data-captionhidden="on"
             data-endeasing="easeOutExpo"
             data-easing="easeOutExpo">
          have to live.
        </div>

        <div class="caption medium_text_white sfb"
             data-x="700"
             data-y="420"
             data-speed="900"
             data-start="1200"
             data-captionhidden="on"
             data-endeasing="easeOutExpo"
             data-easing="easeOutExpo">
          A wonderful serenity has taken possesion of my entire <br/> soul, like there sweet mornings of spring which I enyoy.
        </div>


      </li>
      <!-- END OF THE SLIDE -->
      <!-- START OF THE SLIDE -->
      <li data-transition="random" data-slotamount="5" data-masterspeed="900">
        <!-- THE MAIN IMAGE IN THE SLIDE -->
        <img src="img/slider/slide_2.jpg" alt="" title="">
        <div class="caption large_text_black_back sfr"
             data-x="700"
             data-y="180"
             data-speed="900"
             data-start="1000"
             data-captionhidden="on"
             data-endeasing="easeOutExpo"
             data-easing="easeOutExpo">
          Take care of your body.
        </div>
        <div class="caption large_text_black_back sfr"
             data-x="700"
             data-y="250"
             data-speed="900"
             data-start="1100"
             data-captionhidden="on"
             data-endeasing="easeOutExpo"
             data-easing="easeOutExpo">
          It's the only place you
        </div>

        <div class="caption large_text_black_back sfr"
             data-x="700"
             data-y="320"
             data-speed="900"
             data-start="1200"
             data-captionhidden="on"
             data-endeasing="easeOutExpo"
             data-easing="easeOutExpo">
          have to live.
        </div>

        <div class="caption medium_text_white sfb"
             data-x="700"
             data-y="420"
             data-speed="900"
             data-start="1200"
             data-captionhidden="on"
             data-endeasing="easeOutExpo"
             data-easing="easeOutExpo">
          It's the most wonderfull feeling to <br/>rock on the beach with your abs!
        </div>

      </li>
      <!-- END OF THE SLIDE -->

    </ul>

  </div>
  <!-- /.banner -->

</div>
<!-- /.bannercontainer -->

<div class="container pull-up-55 upper-content">
  <div class="row">
    <div class="col-md-12">
      <ul class="boxed-navigation">
        <li>
          <div class="relative">
            <span>VIEW ALL</span>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="115px" height="30px" viewBox="0 0 115 30" enable-background="new 0 0 115 30" xml:space="preserve">
                  <path fill="none"  stroke-miterlimit="10" d="M29.625,8.813c0,0,78.375-11.5,44.5,17.5"/>
                  <polyline fill="none" stroke-miterlimit="10" points="74.813,22.188 72.438,27.688 77.813,27.125 "/>
                  </svg>
            <a href="classes.html">
              <i class="fa fa-calendar-o"></i> CLASSES
            </a>
          </div>
          <!-- /.relative -->
        </li>
        <li>
          <div class="relative">
            <span>VIEW ALL</span>
            <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="115px" height="30px" viewBox="0 0 115 30" enable-background="new 0 0 115 30" xml:space="preserve">
                <path fill="none"  stroke-miterlimit="10" d="M29.625,8.813c0,0,78.375-11.5,44.5,17.5"/>
                <polyline fill="none" stroke-miterlimit="10" points="74.813,22.188 72.438,27.688 77.813,27.125 "/>
                </svg>
            <a href="trainers.html">
              <i class="fa fa-user"></i> TRAINERS
            </a>
          </div>
          <!-- /.relative -->
        </li>
        <li>
          <div class="relative">
            <span>VIEW ALL</span>
            <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="115px" height="30px" viewBox="0 0 115 30" enable-background="new 0 0 115 30" xml:space="preserve">
                <path fill="none"  stroke-miterlimit="10" d="M29.625,8.813c0,0,78.375-11.5,44.5,17.5"/>
                <polyline fill="none" stroke-miterlimit="10" points="74.813,22.188 72.438,27.688 77.813,27.125 "/>
                </svg>
            <a href="">
              <i class="fa fa-clipboard"></i> WORKOUTS
            </a>
          </div>
          <!-- /.relative -->
        </li>
      </ul>

    </div>
    <!-- /.col-md-12 -->
  </div>
</div>
