<a href="#main-content" class="sfc-skip-link">Przejdź do treści</a>

<app-header></app-header>

<div class="breadcrumb" *ngIf="myRouterService.url!='/' && myRouterService.url!=='/#/'">
  <div class="container">
    <li class="bread"
        *ngFor="let url_item of myRouterService.url.split('/'); let i=index">
      <a *ngIf="i === 0" routerLink="/">
        Strona główna
      </a>

      <a *ngIf="i > 0 && i < myRouterService.urlLength -1"
         routerLink="{{getBreadcrumbElements(i+1)}}">
        {{url_item}}
      </a>

      <a *ngIf="i === myRouterService.urlLength -1">
        {{url_item}}
      </a>
    </li>
  </div>
</div>

<div class="container search-class sfc-page-enter" id="main-content">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
