div.header-holder{
  position: fixed;
  /*background-color: white;*/
  /*border-bottom: 3px solid #782121;*/
  /*height: 145px;*/
  color: white;
  animation-name: top_menu_anim;
  animation-duration: 2s;
}

@keyframes top_menu_anim {
  0% {
    margin-top: -150px;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
}

div.header-holder .header{
  /*position: relative;*/
  /*top: 50px;*/
  border-bottom: 3px solid #782121;
  background-color: #292929;
}

.logo {
  background-color: #292929;
}

.logo div img {
  width: 230px;
  position: absolute;
  bottom: -15px;
  left: 20px;
}

@media only screen and (max-width: 1000px) {
  .logo div img {
    width: 130px;
    position: absolute;
    bottom: 3px;
    left: 20px;
  }
}

@media only screen and (max-width: 770px) {
  .header-holder .open-navigation.opened {
    background: #292929;
  }

  .header-holder .open-navigation {
    margin-right: 1em;
  }

  .header-holder ul {
    width: calc(100% - 20px);
    left: 10px;
    right: 50px;
    /*top: 60px;*/
    background-color: #292929;
    position: absolute;
    border-radius: 0 0 15px 20px;
  }

  div.header-holder {
    position: relative;
    top: -1.5em;
  }

  .logo div img {
    margin: auto;
    width: 100px;
    top: 0;
    position: static;
  }
}


.header {
  /*border: 1px solid lightgrey;*/
  display: flow;
  flex-wrap: nowrap;
}

div.navigation-holder {
  padding-right: 0;
}

.container header.row {
  display: flow;
}
