.logo {
  background: white;
  /*border-right: 1px solid lightgrey;*/
}

.logo div img {
  width: 230px;
  position: absolute;
  bottom: -15px;
  left: 20px;
}

@media only screen and (max-width: 1000px) {
  .logo div img {
    width: 130px;
    position: absolute;
    bottom: 3px;
    left: 20px;
  }
}

@media only screen and (max-width: 770px) {
  .logo div img {
    margin: auto;
    width: 100px;
    top: 0;
    position: static;
  }
}


.header {
  /*border: 1px solid lightgrey;*/
}
