<div class="header-holder">
  <div class="container">
    <div class="row header">
      <div class="col-md-2 logo align-c">
        <div class="inner-top-bottom-20">
          <a routerLink="/" style="color: white; text-decoration: none"><img src="assets/img/logo.png" alt="SFC logo"></a>
          <!--<h1 class="no-margin"><a routerLink="/" style="color: white; text-decoration: none">SFC</a></h1>-->
        </div><!-- /.inner-top-bottom-10 -->
      </div>
      <!-- /.col-md-2 logo -->
      <div class="col-md-10 col-md-xs-12 navigation-holder">
        <div class="inner-top-bottom-10">
          <span class="open-navigation js-open-navigation">
            Menu
          </span>
          <ul class="main-navigation" [ngClass] = 'isScreenMobile ? "js-open-navigation":""' >
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a routerLink="/">START</a></li>
            <li routerLinkActive="active"><a routerLink="/oferta">OFERTA</a></li>
            <li routerLinkActive="active"><a routerLink="/cennik">CENNIK</a></li>
            <!--<li routerLinkActive="active"><a routerLink="/galeria">GALERIA</a></li>-->
            <li routerLinkActive="active"><a routerLink="/kontakt">KONTAKT</a></li>
            <li routerLinkActive="active"><a routerLink="/faq">FAQ/REGULAMIN/RODO</a></li>
            <!--<li routerLinkActive="active"><a routerLink="/grafik">GRAFIK</a></li>-->
          </ul>
        </div><!-- /.inner-top-bottom-10 -->
      </div>
      <!-- /.col-md-10 align-r -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.header-holder absolute -->
