<app-page>
  <div class="sfc-error">
    <div class="sfc-error__content">
      <div class="sfc-error__code">404</div>
      <h1 class="sfc-error__title">Ups! Strona nie znaleziona</h1>
      <p class="sfc-error__description">
        Strona, której szukasz, została przeniesiona lub nie istnieje.
        Możesz wrócić do strony głównej lub skontaktować się z nami.
      </p>
      <div class="sfc-error__actions">
        <a routerLink="/" class="sfc-error__btn sfc-error__btn--primary">
          <i class="fa fa-home"></i> Strona główna
        </a>
        <a routerLink="/kontakt" class="sfc-error__btn sfc-error__btn--outline">
          <i class="fa fa-envelope"></i> Kontakt
        </a>
      </div>
    </div>
  </div>
</app-page>
