<div class="footer-grey">
  <div class="border-gray pull-down-140"></div>
  <!-- /.border-gray -->
  <!--<div class="container pull-down-30 footer">-->
    <!--<div class="row push-down-20">-->
      <!--<div class="col-xs-12 col-md-3"><h5 class="push-down-25"></h5>-->
      <!--</div>-->
      <!--<div class="col-xs-12 col-md-3"><h5 class="push-down-25"></h5>-->
      <!--</div>-->
      <!--<div class="col-xs-12 col-md-3"><h5 class="push-down-25"></h5>-->
      <!--</div>-->
      <!--<div class="col-xs-12 col-md-3"><h5 class="push-down-25"></h5>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /.row &ndash;&gt;-->
  <!--</div>-->
  <!-- /.row -->
</div>
<!-- /.container -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6 copyright align-l">
      <div class="inner-top-bottom-30">
        <p>&copy;FITNESS THEME 2013</p>
      </div>
      <!-- /.inner-top-bottom-30 -->
    </div>
    <!-- /.col-md-12 -->
    <div class="col-md-6 col-xs-6 col-sm-6 copyright align-r">
      <div class="inner-top-bottom-30">
        <p>DESIGNED BY <strong>MUNFACTORY</strong></p>
      </div>
      <!-- /.inner-30 -->
    </div>
    <!-- /.col-md-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
