<div class="footer-grey">
  <div class="border-gray pull-down-140"></div>
  <!-- /.border-gray -->
  <div class="container pull-down-30 footer">
    <div class="row push-down-20">
      <!--<div class="col-xs-12 col-md-3"><h5 class="push-down-25">NEWSLETTER</h5>-->
        <!--<p>Maecenas vel diam ultrices, vehicula libero ut, mattis risus. Vivamus consequat consectetur venenatis. Etiam id elit ante.</p>-->
        <!--<form class="form-inline pull-down-40 newsletter-form" role="form">-->
          <!--<div>-->
            <!--<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">-->
            <!--<button type="submit" class="main-button default-input icon-margin-right"><i class="fa fa-angle-right"></i>SUBSCRIBE</button>-->
          <!--</div>-->
        <!--</form>-->
        <!--<div class="clearfix"></div>-->
        <!--&lt;!&ndash; /.clearfix &ndash;&gt;-->
        <!--<div class="social-icon">-->
          <!--<a href=""><i class="fa fa-twitter"></i></a>-->
          <!--<a href=""><i class="fa fa-facebook"></i></a>-->
        <!--</div>-->

      <!--</div>-->
      <!--&lt;!&ndash; /.col-xs-12 &ndash;&gt;-->
      <!--<div class="col-xs-12 col-md-3">-->
        <!--<h5 class="push-down-25">INSTAGRAM</h5>-->
        <!--<div id="instafeed" class="instafeed push-down-10"></div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /.col-xs-12 &ndash;&gt;-->
      <!--<div class="col-xs-12 col-md-3">-->
        <!--<h5 class="push-down-25">LOCATIONS</h5>-->
        <!--<div class="row location">-->
          <!--<div class="col-xs-1"><i class="fa fa-map-marker"></i></div>-->
          <!--&lt;!&ndash; /.col-xs-1 &ndash;&gt;-->
          <!--<div class="col-xs-10">-->
            <!--<a href="">25th street, New York City, BY 10010 Phone: 040 859 358</a>-->
          <!--</div>-->
          <!--&lt;!&ndash; /.col-xs-11 &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.row &ndash;&gt;-->
        <!--<div class="row location">-->
          <!--<div class="col-xs-1"><i class="fa fa-map-marker"></i></div>-->
          <!--&lt;!&ndash; /.col-xs-1 &ndash;&gt;-->
          <!--<div class="col-xs-10">-->
            <!--<a href="">25th street, New York City, BY 10010 Phone: 040 859 358</a>-->
          <!--</div>-->
          <!--&lt;!&ndash; /.col-xs-11 &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.row &ndash;&gt;-->
        <!--<div class="row location">-->
          <!--<div class="col-xs-1"><i class="fa fa-map-marker"></i></div>-->
          <!--&lt;!&ndash; /.col-xs-1 &ndash;&gt;-->
          <!--<div class="col-xs-10">-->
            <!--<a href="">25th street, New York City, BY 10010 Phone: 040 859 358</a>-->
          <!--</div>-->
          <!--&lt;!&ndash; /.col-xs-11 &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.row &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash; /.col-xs-12 &ndash;&gt;-->
      <!--<div class="col-xs-12 col-md-3">-->
        <!--<h5 class="push-down-25">RECENT COMMENTS</h5>-->
        <!--<div class="row recent-comment">-->
          <!--<div class="col-xs-1"><i class="fa fa-comment"></i></div>-->
          <!--&lt;!&ndash; /.col-xs-1 &ndash;&gt;-->
          <!--<div class="col-xs-10">-->
            <!--<a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elitdoloribus nobis ducimus dolorem autem.</a>-->
          <!--</div>-->
          <!--&lt;!&ndash; /.col-xs-11 &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.row &ndash;&gt;-->
        <!--<div class="row recent-comment">-->
          <!--<div class="col-xs-1"><i class="fa fa-comment"></i></div>-->
          <!--&lt;!&ndash; /.col-xs-1 &ndash;&gt;-->
          <!--<div class="col-xs-10">-->
            <!--<a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elitdoloribus nobis ducimus dolorem autem.</a>-->
          <!--</div>-->
          <!--&lt;!&ndash; /.col-xs-11 &ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
      <!-- /.col-xs-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6 copyright align-l">
      <div class="inner-top-bottom-30">
        <p>&copy;FITNESS THEME 2013</p>
      </div>
      <!-- /.inner-top-bottom-30 -->
    </div>
    <!-- /.col-md-12 -->
    <div class="col-md-6 col-xs-6 col-sm-6 copyright align-r">
      <div class="inner-top-bottom-30">
        <p>DESIGNED BY <strong>MUNFACTORY</strong></p>
      </div>
      <!-- /.inner-30 -->
    </div>
    <!-- /.col-md-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
