<div class="container pull-up-148 upper-content">
  <div class="row">
    <div class="col-md-12">
      <ul class="horizontal-timetable timetable">
        <li class="time">
          <div class="data">
            <span class="title">PILATES</span>
            <a href="">02<span>:</span>35</a>
            <!-- /.additional-data -->
          </div>
          <!-- /.data -->
        </li>
        <li class="time">
          <div class="data">
            <span class="title">YOGA</span>
            <a href="">04<span>:</span>00</a>
            <!-- /.additional-data -->
          </div>
          <!-- /.data -->
        </li>
        <li class="time">
          <div class="data">
            <span class="title">ZUMBA</span>
            <a href="">05<span>:</span>45</a>
            <!-- /.additional-data -->
          </div>
          <!-- /.data -->
        </li>
        <li class="time">
          <div class="data">
            <span class="title">ZUMBA</span>
            <a href="">05<span>:</span>45</a>
            <!-- /.additional-data -->
          </div>
          <!-- /.data -->
        </li>
      </ul>

    </div>
    <!-- /.col-md-12 -->
  </div>
  <!-- /.row -->
</div>
