<div class="bannercontainer hidden-xs">
<!--  <div class="banner" [style.display]="myRouterService.url === '/' ?-->
<!--  'block':'none'">-->
   <div class="banner">
    <ul>

      <!-- START OF THE SLIDE -->
      <li data-transition="random" data-slotamount="3" data-masterspeed="900">
        <!-- THE MAIN IMAGE IN THE SLIDE -->
        <img src="../../../../../assets/img/slider/slide_1.jpg" alt="" title="">
        <!--<div class="caption large_text_black_back sfl"-->
             <!--data-x="6000"-->
             <!--data-y="180"-->
             <!--data-speed="900"-->
             <!--data-start="1000"-->
             <!--data-captionhidden="on"-->
             <!--data-endeasing="easeOutExpo"-->
             <!--data-easing="easeOutExpo">-->
          <!--Take care of your body.-->
        <!--</div>-->
        <!--<div class="caption large_text_black_back sfl"-->
             <!--data-x="700"-->
             <!--data-y="250"-->
             <!--data-speed="900"-->
             <!--data-start="1100"-->
             <!--data-captionhidden="on"-->
             <!--data-endeasing="easeOutExpo"-->
             <!--data-easing="easeOutExpo">-->
          <!--It's the only place you-->
        <!--</div>-->

        <!--<div class="caption large_text_black_back sfl"-->
             <!--data-x="700"-->
             <!--data-y="320"-->
             <!--data-speed="900"-->
             <!--data-start="1200"-->
             <!--data-captionhidden="on"-->
             <!--data-endeasing="easeOutExpo"-->
             <!--data-easing="easeOutExpo">-->
          <!--have to live.-->
        <!--</div>-->

        <!--<div class="caption medium_text_white sfb"-->
             <!--data-x="700"-->
             <!--data-y="420"-->
             <!--data-speed="900"-->
             <!--data-start="1200"-->
             <!--data-captionhidden="on"-->
             <!--data-endeasing="easeOutExpo"-->
             <!--data-easing="easeOutExpo">-->
          <!--A wonderful serenity has taken possesion of my entire <br/> soul, like there sweet mornings of spring which I enyoy.-->
        <!--</div>-->


      </li>
      <!-- END OF THE SLIDE -->


      <!-- START OF THE SLIDE -->
<!--      <li data-transition="random" data-slotamount="5" data-masterspeed="900">-->
        <!-- THE MAIN IMAGE IN THE SLIDE -->
<!--        <img src="assets/img/slider/slide_2.jpg" alt="" title="">-->
<!--        <div class="caption large_text_black_back sfr"-->
             <!--data-x="700"-->
             <!--data-y="180"-->
             <!--data-speed="900"-->
             <!--data-start="1000"-->
             <!--data-captionhidden="on"-->
             <!--data-endeasing="easeOutExpo"-->
             <!--data-easing="easeOutExpo">-->
          <!--Take care of your body.-->
        <!--</div>-->
        <!--<div class="caption large_text_black_back sfr"-->
             <!--data-x="700"-->
             <!--data-y="250"-->
             <!--data-speed="900"-->
             <!--data-start="1100"-->
             <!--data-captionhidden="on"-->
             <!--data-endeasing="easeOutExpo"-->
             <!--data-easing="easeOutExpo">-->
          <!--It's the only place you-->
        <!--</div>-->

        <!--<div class="caption large_text_black_back sfr"-->
             <!--data-x="700"-->
             <!--data-y="320"-->
             <!--data-speed="900"-->
             <!--data-start="1200"-->
             <!--data-captionhidden="on"-->
             <!--data-endeasing="easeOutExpo"-->
             <!--data-easing="easeOutExpo">-->
          <!--have to live.-->
        <!--</div>-->

        <!--<div class="caption medium_text_white sfb"-->
             <!--data-x="700"-->
             <!--data-y="420"-->
             <!--data-speed="900"-->
             <!--data-start="1200"-->
             <!--data-captionhidden="on"-->
             <!--data-endeasing="easeOutExpo"-->
             <!--data-easing="easeOutExpo">-->
          <!--It's the most wonderfull feeling to <br/>rock on the beach with your abs!-->
        <!--</div>-->

<!--      </li>-->
      <!-- END OF THE SLIDE -->

      <!-- START OF THE SLIDE -->
<!--      <li data-transition="random" data-slotamount="3" data-masterspeed="900">-->
        <!-- THE MAIN IMAGE IN THE SLIDE -->
<!--        <img src="assets/img/slider/slide_3.jpg" alt="" title="">-->
        <!--<div class="caption large_text_black_back sfl"-->
        <!--data-x="6000"-->
        <!--data-y="180"-->
        <!--data-speed="900"-->
        <!--data-start="1000"-->
        <!--data-captionhidden="on"-->
        <!--data-endeasing="easeOutExpo"-->
        <!--data-easing="easeOutExpo">-->
        <!--Take care of your body.-->
        <!--</div>-->
        <!--<div class="caption large_text_black_back sfl"-->
        <!--data-x="700"-->
        <!--data-y="250"-->
        <!--data-speed="900"-->
        <!--data-start="1100"-->
        <!--data-captionhidden="on"-->
        <!--data-endeasing="easeOutExpo"-->
        <!--data-easing="easeOutExpo">-->
        <!--It's the only place you-->
        <!--</div>-->

        <!--<div class="caption large_text_black_back sfl"-->
        <!--data-x="700"-->
        <!--data-y="320"-->
        <!--data-speed="900"-->
        <!--data-start="1200"-->
        <!--data-captionhidden="on"-->
        <!--data-endeasing="easeOutExpo"-->
        <!--data-easing="easeOutExpo">-->
        <!--have to live.-->
        <!--</div>-->

        <!--<div class="caption medium_text_white sfb"-->
        <!--data-x="700"-->
        <!--data-y="420"-->
        <!--data-speed="900"-->
        <!--data-start="1200"-->
        <!--data-captionhidden="on"-->
        <!--data-endeasing="easeOutExpo"-->
        <!--data-easing="easeOutExpo">-->
        <!--A wonderful serenity has taken possesion of my entire <br/> soul, like there sweet mornings of spring which I enyoy.-->
        <!--</div>-->


<!--      </li>-->
      <!-- END OF THE SLIDE -->

      <!-- START OF THE SLIDE -->
<!--      <li data-transition="random" data-slotamount="4" data-masterspeed="900">-->
        <!-- THE MAIN IMAGE IN THE SLIDE -->
<!--        <img src="assets/img/slider/slide_4.jpg" alt="" title="">-->
        <!--<div class="caption large_text_black_back sfl"-->
        <!--data-x="6000"-->
        <!--data-y="180"-->
        <!--data-speed="900"-->
        <!--data-start="1000"-->
        <!--data-captionhidden="on"-->
        <!--data-endeasing="easeOutExpo"-->
        <!--data-easing="easeOutExpo">-->
        <!--Take care of your body.-->
        <!--</div>-->
        <!--<div class="caption large_text_black_back sfl"-->
        <!--data-x="700"-->
        <!--data-y="250"-->
        <!--data-speed="900"-->
        <!--data-start="1100"-->
        <!--data-captionhidden="on"-->
        <!--data-endeasing="easeOutExpo"-->
        <!--data-easing="easeOutExpo">-->
        <!--It's the only place you-->
        <!--</div>-->

        <!--<div class="caption large_text_black_back sfl"-->
        <!--data-x="700"-->
        <!--data-y="320"-->
        <!--data-speed="900"-->
        <!--data-start="1200"-->
        <!--data-captionhidden="on"-->
        <!--data-endeasing="easeOutExpo"-->
        <!--data-easing="easeOutExpo">-->
        <!--have to live.-->
        <!--</div>-->

        <!--<div class="caption medium_text_white sfb"-->
        <!--data-x="700"-->
        <!--data-y="420"-->
        <!--data-speed="900"-->
        <!--data-start="1200"-->
        <!--data-captionhidden="on"-->
        <!--data-endeasing="easeOutExpo"-->
        <!--data-easing="easeOutExpo">-->
        <!--A wonderful serenity has taken possesion of my entire <br/> soul, like there sweet mornings of spring which I enyoy.-->
        <!--</div>-->


<!--      </li>-->
      <!-- END OF THE SLIDE -->
    </ul>

  </div>
  <!-- /.banner -->

</div>
<!-- /.bannercontainer -->
