<app-page>
  <div style="width: 100%">
    <!-- Google map -->
<!--    <agm-map [latitude]="lat" [longitude]="lng" [zoom]=zoom>-->
<!--      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--    </agm-map>-->
    <!-- End Google map -->
    <div class="row fitness-location" style="margin: auto">
      <div class="col-md-12 align-l">
        <h3><i class="fa fa-map-marker" aria-hidden="true"></i> 08-530 Dęblin, ul. Kowalskiego 20 (budynek szkoły SP4)</h3>
        <h3><i class="fa fa-map-marker" aria-hidden="true"></i> 08-500
          Ryki, ul. Warszawska 3b  (budynek szkoły LSW)</h3>
        <h3><i class="fa fa-map-marker" aria-hidden="true"></i> 08-400 Garwolin,
          Mazowiecka 22</h3>
        <p><i class="fa fa-phone" aria-hidden="true"></i> Tel. 607 300 601 </p>
        <p><i class="fa fa-envelope-open" aria-hidden="true"></i> Mail: <a href="mailto:sfcdeblin@gmail.com">klub@sfc24.eu</a></p>
      </div>
    </div>
  </div>
</app-page>
