<div class="container pull-up-55 upper-content">
  <div class="row">
    <div class="col-md-12">
      <ul class="boxed-navigation">
        <li>
          <div class="relative">
            <span>VIEW ALL</span>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="115px" height="30px" viewBox="0 0 115 30" enable-background="new 0 0 115 30" xml:space="preserve">
                  <path fill="none"  stroke-miterlimit="10" d="M29.625,8.813c0,0,78.375-11.5,44.5,17.5"/>
                  <polyline fill="none" stroke-miterlimit="10" points="74.813,22.188 72.438,27.688 77.813,27.125 "/>
                  </svg>
            <a routerLink="/faq">
              <i class="fa fa-calendar-o"></i> FAQ
            </a>
          </div>
          <!-- /.relative -->
        </li>
        <li>
          <div class="relative">
            <span>VIEW ALL</span>
            <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="115px" height="30px" viewBox="0 0 115 30" enable-background="new 0 0 115 30" xml:space="preserve">
                <path fill="none"  stroke-miterlimit="10" d="M29.625,8.813c0,0,78.375-11.5,44.5,17.5"/>
                <polyline fill="none" stroke-miterlimit="10" points="74.813,22.188 72.438,27.688 77.813,27.125 "/>
                </svg>
            <a routerLink="/statute">
              <i class="fa fa-user"></i> REGULAMIN
            </a>
          </div>
          <!-- /.relative -->
        </li>
        <li>
          <div class="relative">
            <span>VIEW ALL</span>
            <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="115px" height="30px" viewBox="0 0 115 30" enable-background="new 0 0 115 30" xml:space="preserve">
                <path fill="none"  stroke-miterlimit="10" d="M29.625,8.813c0,0,78.375-11.5,44.5,17.5"/>
                <polyline fill="none" stroke-miterlimit="10" points="74.813,22.188 72.438,27.688 77.813,27.125 "/>
                </svg>
            <a routerLink="/rodo">
              <i class="fa fa-clipboard"></i> RODO
            </a>
          </div>
          <!-- /.relative -->
        </li>
      </ul>

    </div>
    <!-- /.col-md-12 -->
  </div>
</div>
